<!DOCTYPE html>
<html>
<head>
  <title>Flux base</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "flux_base/application", media: "all" %>
  <%= javascript_include_tag "flux_base/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
